@model Instructor
@{
    ViewData["Title"] = "Edit";
}

<form method="post" action="/Instructor/SaveEdit/@Model.Id">
    <div>
        <label>Name</label>
        <input class="form-control" name="Name" value="@Model.Name" id="Name" type="text" />
    </div>

    <div>
        <label>Salary</label>
        <input class="form-control" name="Salary" value="@Model?.Salary" id="Salary" type="number" />
    </div>

    <div>
        <label>Image</label>
        <input class="form-control" name="Image" value="@Model?.Image" id="Image" type="text" />
    </div>

    <div>
        <label>Adress</label>
        <input class="form-control" name="Adress" value="@Model?.Adress" id="Adress" type="text" />
    </div>

    <div>
        <label>Department</label>
        <select class="form-control" name="Dept_Id" id="Dept_Id">
            @foreach (Department item in ViewBag.DepartmentList)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
       
    </div>

    <div>
        <label>Course</label>
        <select class="form-control" name="Crs_Id" id="Crs_Id">
            @foreach (Course item in ViewBag.CoursesList)
            {
                <option value="@item.Dept_Id">@item.Name</option>
            }
        </select>

    </div>

    <input type="submit" class="btn btn-primary mt-2" value="Save" />
</form>