@model List<Instructor>

<table class="table table-bordered table-hover">

    <tr class="text-center">
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>Image</th>
        <th>Adress</th>
        <th>Department</th>
        <th>Course</th>
        <th>Action</th>
        <th>Edit</th>
    </tr>
    @foreach (Instructor item in Model)
    {
        <tr class="text-center">
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
            <td><img src="/images/@item.Image" style="width:100px"></td>
            <td>@item.Adress</td>
            <td> @item.Department.Name</td>
            <td>@item.Course.Name</td>
            <td><a href="/instructor/detailes/@item.Id" class="btn btn-primary">Details</a></td>
            <td><a href="/Instructor/Edit/@item.Id" class="btn btn-danger">Edit</a></td>
        </tr>

    }
</table>

<a href="/Instructor/New" class="btn btn-success">Add New </a>
